.view-report-container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 20px;
  background: var(--card);
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  color: var(--text);
}

.report-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.report-card p {
  margin: 10px 0;
  color: var(--text);
}

.image-button1 {
  background-color: var(--btnColour);
  color: var(--buttonText);
  padding: 14px 28px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  max-width: 145px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}


.image-button2{
  background-color: var(--btnColour);
  color: var(--buttonText);
  padding: 14px 28px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  max-width: 175px;
  text-align:center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

.image-button1:hover {
  background-color: var(--btnHover);
  transform: translateY(-2px);
}

.image-button1:active {
  transform: scale(0.98);
}

.image-button2:hover {
  background-color: var(--btnHover);
  transform: translateY(-2px);
}

.image-button2:active {
  transform: scale(0.98);
}